<div class="main">
  <div class="container">
    <div class="form-heading">パスワードリセット</div>
    <%= form_for :password_reset, url: password_resets_path, html: {class: "form form-body users-form"} do |f| %>
      <p>メールを送信後、パスワードの再設定を行って下さい</p>
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, value: @email %>

      <%= f.submit "送信"%>
    <% end %>
  </div>
</div>

