<h1>パスワード再設定</h1>

<p>下記リンクをクリックしてパスワードリセットの再設定を行って下さい。</p>

<%= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>このリンクの有効期限は2時間です。</p>

<p>このメールにこころあたりがなければ~</p>