<li>
  <div class="user-left">
    <span class="user-img">
      <% if user.image_name? %>
        <%= image_pack_tag user.image_name.url %>
      <% else %>
        <%= image_pack_tag "default_icon.jpeg" %>
      <% end %>
    </span>
  </div>

  <div class="user-right">
    <div class="user-name">
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
        <%# 管理ユーザーでかつ自分以外のユーザーに削除リンクを表示 %>
        | <%= link_to "削除", user, method: :delete, data: { confirm: "このユーザーを削除しますか？" } %>
      <% end %>
    </div>
  </div>
<li>