<div class="main">
  <div class="container">
    <h1 class="users-heading">ユーザー検索</h1>
    <ul class="users-index-item">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  </div>
</div>

