<div class="main">
  <div class="container">
    <% @posts.each do |post| %>

      <div class="posts-index-item">

        <div class="post-left">
          <span class="user-img">
            <% if post.user.image_name? %>
              <%= image_tag post.user.image_name.url %>
            <% else %>
              <%= image_tag "default_icon.jpeg" %>
            <% end %>
          </span>
        </div>

        <div class="post-right">
          <div class="post-user-name">
            <%= link_to post.user.name, "/users/#{post.user_id}" %>
          </div>

          <%= link_to post.content, post_path(post) %>

          <div class="post-time">
            <% if post.created_at != post.updated_at%>
              <span>(編集済み)</span>
            <% end %>
          </div>
        </div>
        
      </div>
    <% end %>
  </div>
</div>