<div class="main">
    <div class="container">
        <% if @posts.any? %>
            <ol class="posts-index-item">
                <%= render @posts %>
            </ol>
            <%= will_paginate @posts %>
        <% end %>
    </div>
</div>