<div class="main posts-form">
  <div class="container">
    <h1 class="form-heading">Diary</h1>
    <%= render 'form' %>
  </div>
</div>

<%#= javascript_pack_tag 'form' %>
<%# <div id='form'></div> %>